configure:
  scheduler:
    storage_type: file
    storage_uri: file:///etc/ciao/configuration.yaml
  controller:
    compute_port: 8774
    compute_ca: /etc/keystone/ssl/server/{{ansible_hostname}}.cert.pem
    compute_cert: /etc/keystone/ssl/server/{{ansible_hostname}}.key.pem
    identity_user: csr
    identity_password: {{ ciao_csr_password }}
  launcher:
    compute_net: {{ciao_compute_subnet}}
    mgmt_net: {{ciao_mgmt_subnet}}
    disk_limit: true
    mem_limit: true
  image_service:
    type: glance
    url: https://{{ glance_fqdn }}:9292
  identity_service:
    type: keystone
    url: https://{{ keystone_fqdn }}:35357
