[ml2]
tenant_network_types = vxlan
extension_drivers = port_security
type_drivers = flat,vlan,vxlan
{% if neutron_deployment_scenario == 'linuxbridge' %}
mechanism_drivers = linuxbridge,l2population
{% elif neutron_deployment_scenario == 'openvswitch' %}
mechanism_drivers = openvswitch,linuxbridge
{% endif %}

[ml2_type_flat]
flat_networks = public

[ml2_type_vxlan]
vni_ranges = 1001:2000

[securitygroup]
enable_ipset = True
{% if neutron_deployment_scenario == 'openvswitch' %}
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
{% endif %}

{% if neutron_deployment_scenario == 'openvswitch' %}
[ovs]
local_ip = {{ hostvars[inventory_hostname]['ansible_' + public_interface ]['ipv4']['address'] }}
datapath_type = system
tunnel_bridge = br-tun

[agent]
tunnel_types = vxlan
{% endif %}
