[DEFAULT]
{% if log_debug %}
debug = True
{% endif %}
enabled_apis = osapi_compute,metadata
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
rpc_backend = rabbit
auth_strategy = keystone
my_ip = {{ hostvars[inventory_hostname]['ansible_' + nova_public_interface_name ]['ipv4']['address'] }}
force_dhcp_release = True
allow_resize_to_same_host = True

[database]
connection = mysql+pymysql://nova:{{ nova_database_password }}@{{ groups['dbservers'][0] }}/nova

[api_database]
connection = mysql+pymysql://nova:{{ nova_database_password }}@{{ groups['dbservers'][0] }}/nova_api

[oslo_messaging_rabbit]
rabbit_host = {{ groups['messaging_servers'][0] }}
rabbit_userid = {{ rabbitmq_username }}
rabbit_password = {{ rabbitmq_password }}

[keystone_authtoken]
auth_uri = http://{{ groups['openstack_identity'][0] }}:{{keystone_public_port}}
auth_url = http://{{ groups['openstack_identity'][0] }}:{{keystone_admin_port}}
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = nova
password = {{ nova_user_password }}

[vnc]
novncproxy_host = 0.0.0.0
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = $my_ip
{% if inventory_hostname in groups['openstack_compute'] %}
enabled = True
novncproxy_base_url = http://{{ groups['openstack_compute_controller'][0] }}:6080/vnc_auto.html
{% endif %}

[glance]
api_servers = http://{{ groups['openstack_image'][0] }}:9292

[neutron]
url = http://{{ groups['openstack_networking'][0] }}:9696
auth_url = http://{{ groups['openstack_identity'][0] }}:{{keystone_admin_port}}/v3
auth_type = password
auth_strategy = keystone
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = neutron
password = {{ neutron_user_password }}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ metadata_proxy_shared_secret }}

{% if inventory_hostname in groups['openstack_compute'] %}
[libvirt]
virt_type = {{ nova_virt_type }}
{% endif %}
