[DEFAULT]

bind_ip = {{ hostvars[inventory_hostname]['ansible_' + swift_public_interface_name ]['ipv4']['address'] }}
bind_port = 6002
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = True

[pipeline:main]
pipeline = healthcheck recon account-server

[app:account-server]
use = egg:swift#account

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift

[account-auditor]

[account-reaper]

[account-replicator]

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:xprofile]
use = egg:swift#xprofile
