[DEFAULT]

bind_ip = {{ hostvars[inventory_hostname]['ansible_' + swift_public_interface_name ]['ipv4']['address'] }}
bind_port = 6001
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = True

[pipeline:main]
pipeline = healthcheck recon container-server

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift

[container-updater]

[container-auditor]

[container-sync]

[container-replicator]

[app:container-server]
use = egg:swift#container

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:xprofile]
use = egg:swift#xprofile
