#!/bin/bash

{% if swift_storage_devices is undefined %}
  {% for host in groups['openstack_object_storage'] %}
    {% for device in hostvars[host]['devices'] %}
      swift-ring-builder account.builder add --region 1 --zone 1 --ip {{ host }}  --port 6002 --device {{ device }}  --weight 100
      swift-ring-builder container.builder add --region 1 --zone 1 --ip {{ host }}  --port 6001 --device {{ device }}  --weight 100
      swift-ring-builder object.builder add --region 1 --zone 1 --ip {{ host }}  --port 6000 --device {{ device }}  --weight 100
    {% endfor %}
  {% endfor %}
{% else %}
  {% for host in groups['openstack_object_storage'] %}
    {% for device in swift_storage_devices %}
      swift-ring-builder account.builder add --region 1 --zone 1 --ip {{ host }}  --port 6002 --device {{ device }}  --weight 100
      swift-ring-builder container.builder add --region 1 --zone 1 --ip {{ host }}  --port 6001 --device {{ device }}  --weight 100
      swift-ring-builder object.builder add --region 1 --zone 1 --ip {{ host }}  --port 6000 --device {{ device }}  --weight 100
    {% endfor %}
  {% endfor %}
{% endif %}
